*.class

# Package Files #
*.war
*.ear

# Eclipse
bin/*
Debug/*
Release/*
lib/*
.classpath
.project
.desktop
.settings/*

# JMonkey
assets/*
nbproject/*
test/*
build.xml
MANIFEST.MF
master-application.jnlp

# Windows files
*.dll
~*

# Linux files
*.so
*~
/build/
/dist/
